nav button, div button {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--grisOscuro);
  border: 2px solid var(--grisOscuro);
  border-radius: 50px;
  padding: 4px 12px;
  cursor: pointer;
}

nav button:hover, div button:hover {
  color: var(--grisOscuro);
  background-color: inherit;
}
/* button .verde {
  background-color: var(--verde);
  color: var(--grisOscuro);
} */