header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 1.5rem;
  
}

a.h2 {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--grisOscuro);
  background-color: inherit;
  border: 2px solid var(--grisOscuro);
  border-radius: 50px;
  padding: 4px 12px;
  cursor: pointer;
  margin: 0 !important;
  height: fit-content;
  text-decoration: none;
}

a.h2:hover {
  color: inherit;
}

nav {
  display: flex;
  gap: 1rem;
}

nav {
  list-style-type: none;
  text-transform: uppercase;
  justify-content: space-around;
}

.nav-desktop {
  display: none;
}

.mobile-menu{
  display: flex;
}

@media (min-width: 768px) {
  .nav-desktop {
    display: flex;
  }

  .mobile-menu{
    display: none;
  }
}