.contenedor-tarjeta-central {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: left;
  border-radius: var(--borderRadius);
  padding: var(--componentsPadding);
  margin-top: 1.5rem;
}